BOT_TOKEN=1122233344:V5VSrgp95z7zkExWc8tWSD7gMq8W42DqvSC
JIRA_TOKEN=wJDNRbcmvbcvzUV95DKD8urg
JIRA_USER=no@mail.com
CHAT_ID=-1001564874132
JIRA_REST=https://example.atlassian.net/rest/api/3/issue/
JIRA_ASSIGNEE=551326:ed4a9294-4951-48d6-987d-95f418f11954
JIRA_PROJECT=TEST
JIRA_ISSUE=10002